<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for_数字或数组排序</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>

<div id="app">
    <ul>
        <li v-for="item in sortItems">
            {{item}}
        </li>
    </ul>
    <hr>
    <ul>
        <li v-for="(student,index) in sortStudent">
            {{index}}：{{student.name}} - {{student.age}}
        </li>
    </ul>
</div>

<script type="text/javascript">
    var app=new Vue({
        el:'#app',
        data:{
            items:[20,23,18,65,32,19,5,56,41],  // 1-数字大小排序：数据
            students:[                      // 2-数组对象方法排序：数据
                {name:'jspang',age:32},
                {name:'Panda',age:30},
                {name:'PanPaN',age:21},
                {name:'King',age:45}
            ]
        },
        computed:{
            sortItems:function(){           // 1-数字大小排序：计算方法：for循环按items的数字由小到大顺序顺序打印
                return this.items.sort(sortNumber);
            },
            sortStudent:function(){         // 2-数组对象方法排序：计算方法：for循环按student.age数字由小到大顺序打印
                return sortByKey(this.students,'age');
            }
        }
    });

    // 1-数字大小排序：函数
    function sortNumber(a,b){
        return a-b
    }

    // 2-数组对象方法排序：函数
    function sortByKey(array,key){
        return array.sort(function(a,b){
            var x=a[key];
            var y=b[key];
            return ((x<y)?-1:((x>y)?1:0));
        });
    }
</script>

</body>
</html>